<p>ag-grid works!</p>
<section>
 
    <div class="example-button-row">
      
      <!-- <button class="btn btn-sm btn-danger" (click)="deleteUser(id)">Delete User</button>   -->
      <!--  stay <button class="btn btn-sm btn-primary" (click)="editUser()">Edit User</button>   -->
      <!-- stay  <button class="btn btn-sm btn-info" (click)="addUser()">Add User</button>   -->
    </div>  
        
  </section>
<ag-grid-angular style="width: 100%; height: 400px;"
class="ag-theme-alpine"
(gridReady)="onGridReady($event)"
[columnDefs]="columnDefs"
[rowData]="rowData"
rowSelection="multiple"

[enableRangeSelection]="true"


[pagination]="true"
    [gridOptions]="gridOption"


   ></ag-grid-angular>

